version: '3.8'

services:
  qdrant:
    #image: qdrant/qdrant
    # just used when first ingesting. After then used ingested snapshot image below!!!!
    image: agents_test-qdrant-snapshot
    ports:
      - "6333:6333"
    # volumes:
    #   - ./qdrant_storage:/qdrant/storage

  ollama:
    image: ollama/ollama
    ports:
      - "11434:11434"
    volumes:
      - ./ollama_storage:/root/.ollama

  ollama-init:
    image: ollama/ollama
    container_name: ollama-llama3.2-puller
    depends_on:
      - ollama
    environment:
      - OLLAMA_HOST=ollama:11434
    entrypoint: /bin/sh
    command: "-c 'sleep 5; ollama pull llama3.2'"
